<div class="container principal">
<div class="row">
    <form class="col s12" [formGroup]="form">
        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">location_on</i>
                <input formControlName="origen" id="origen" type="text" name="origen" class="validate">
                <label for="icon_prefix">Origen</label>
                <div *ngIf="GetForm['origen'].errors && (GetForm['origen'].dirty || GetForm['origen'].touched)"
                    class="error-message">
                    <label>Please enter a valid origin</label>
                </div>
            </div>
            <div class="input-field col s6">
                <i class="material-icons prefix">flag</i>
                <input formControlName="destino" id="destino" type="text" name="destino" class="validate">
                <label for="icon_telephone">Destino</label>
                <div *ngIf="GetForm['destino'].errors && (GetForm['destino'].dirty || GetForm['destino'].touched)"
                    class="error-message">
                    <label>Please enter a valid destination</label>
                </div>
            </div>
        </div>
        <label> Change you currency</label>
        <div class="row container">
            <p class="input-field col s4">
                <label>
                    <input class="with-gap" name="currency" type="radio" value="1" (change)="currencyChange($event)" checked/>
                    <span>Dollar</span>
                </label>
            </p>
            <p class="input-field col s4">
                <label>
                    <input class="with-gap" name="currency" type="radio" value="2" (change)="currencyChange($event)" />
                    <span>Euro</span>
                </label>
            </p>
            <p class="input-field col s4">
                <label>
                    <input class="with-gap" name="currency" type="radio" value="3" (change)="currencyChange($event)" />
                    <span>Peso</span>
                </label>
            </p>
        </div>
    </form>
    <div class="input-field col s4">
        <button [disabled]="GetForm['origen'].errors || GetForm['destino'].errors" id="buscar"
            class="btn waves-effect waves-light Bbuscar" type="button" (click)="buscarRuta()" name="action">Buscar
            <i class="material-icons right">send</i>
        </button>
    </div>
</div>

<div>
    <table class="table" *ngIf="routesList.length > 0">
        <thead>
            <th>Departure Station</th>
            <th>Arrival Station</th>
            <th>Flight Carrier</th>
            <th>Flight Number</th>
            <th>Price</th>
        </thead>
        <tbody>
            <tr *ngFor="let j of routesList">
                <td>{{j.departureStation}}</td>
                <td>{{j.arrivalStation}}</td>
                <td>{{j.flightCarrier}}</td>
                <td>{{j.flightNumber}}</td>
                <td>{{j.price}}</td>
            </tr>
        </tbody>
    </table>
</div>
</div>