<div class="row">
    <form class="col s12" [formGroup] = "form">
        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">location_on</i>
                <input formControlName="origen" id="origen" type="text" name= "origen" class="validate">
                <label for="icon_prefix">Origen</label>
                <div *ngIf="GetForm['origen'].errors && (GetForm['origen'].dirty || GetForm['origen'].touched)" class="error-message">
                    <label>Please enter a valid origin</label>
                </div>
            </div>
            <div class="input-field col s6">
                <i class="material-icons prefix">flag</i>
                <input formControlName="destino" id="destino" type="text" name="destino" class="validate">
                <label for="icon_telephone">Destino</label>
                <div *ngIf="GetForm['destino'].errors && (GetForm['destino'].dirty || GetForm['destino'].touched)" class="error-message">
                    <label>Please enter a valid destination</label>
                </div>
            </div>
            <div>
                <button [disabled]="GetForm['origen'].errors || GetForm['destino'].errors" class="btn waves-effect waves-light" type="button" (click)="buscarRuta()" name="action">Buscar
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </div>
    </form>
</div>